{% extends "./base.html" %}
{% block title %}Inicio{% endblock %}
{% block body %}

<hr>
<h3>Bienvenido {{current_user.email}}</h3>
<ul>
    {% for i in datos %}
    <li>
        <a href="/usuario/{{i["id"]}}"><img src="{{i["imagen"]}}" alt="" style="width: 100px; height: 100px;"></a>
        <span><strong>Nombre:</strong> {{i["nombre"]}}</span>
        <span><strong>Categoria:</strong> {{i["categoria"]}}</span>
        <button>Like</button>
        <button>Dislike</button>
        {% if current_user.is_authenticated %}
        <form action="/inicio" method="post">
            <input type="text" placeholder="Comentario" name="comentario">
            <input type="text" hidden name="id" value="{{i["_id"]}}">
            <button type="submit">Enviar</button>
        </form>
        {% endif %}
        <span>{{i["comentarios"]}}</span>
    </li>
    {% endfor %}
</ul>



{% endblock %}